<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>768613908600-trdjdre697jupjbfc0frtjbo7e6i6ij6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.768613908600-trdjdre697jupjbfc0frtjbo7e6i6ij6</string>
	<key>API_KEY</key>
	<string>AIzaSyBrP-B8jpVp2orfaEyTaHGdtO4mIGWSV8U</string>
	<key>GCM_SENDER_ID</key>
	<string>768613908600</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.company.my-chat-app</string>
	<key>PROJECT_ID</key>
	<string>my-chat-app-1096c</string>
	<key>STORAGE_BUCKET</key>
	<string>my-chat-app-1096c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:768613908600:ios:42ebc8fdea5ec73cf62d8d</string>
	<key>DATABASE_URL</key>
	<string>https://my-chat-app-1096c-default-rtdb.firebaseio.com</string>
</dict>
</plist>